<tr class="border-b border-gray-200">
  <td class="py-3 px-4 text-sm font-medium"><%= news.id %></td>
  <td class="py-3 px-4 text-sm font-medium">
    <%= link_to news.title, edit_admin_news_path(news), class: 'text-blue-600 hover:underline' %>
  </td>
  <td class="py-3 px-4 text-sm text-gray-600"><%= news.author.display_name %></td>
  <td class="py-3 px-4 text-sm"><%= news.status %></td>
  <td class="py-3 px-4 text-sm">
    <div class="flex items-center gap-2.5">
      <%= link_to preview_admin_news_path(news), target: '_blank', class: 'flex items-center text-sm px-3 py-1.5 rounded-md text-gray-600 hover:bg-gray-100' do %>
        <i class="fa fa-eye w-4 h-4 mr-1"></i>
        <span><%= t('.preview') %></span>
      <% end %>
      <%= link_to admin_news_path(news), method: :delete, data: { turbo_method: :delete, confirm: t('shared.destroy_confirm') }, class: 'flex items-center text-sm px-3 py-1.5 rounded-md text-red-600 hover:bg-red-50' do %>
        <i class="fa fa-trash w-4 h-4 mr-1"></i>
        <span><%= t('.destroy') %></span>
      <% end %>
    </div>
  </td>
</tr>