<tr class="border-b border-admin-border">
  <td class="py-2 px-4 text-admin-text-primary"><%= news.id %></td>
  <td class="py-2 px-4 font-semibold"><%= link_to news.title, edit_admin_news_path(news), class: 'text-admin-text-link hover:underline' %></td>
  <td class="py-2 px-4 text-admin-text-secondary"><%= news.author.display_name %></td>
  <td class="py-2 px-4 text-admin-text-primary"><%= news.status %></td>
  <td class="py-2 px-4 space-x-2">
    <%= link_to t('.preview'), preview_admin_news_path(news), target: '_blank', class: 'bg-admin-primary text-white rounded-admin-md py-1 px-3 shadow-admin-sm hover:bg-admin-primary-hover' %>
    <%= button_to t('.destroy'), admin_news_path(news), method: :delete, data: { confirm: t('shared.destroy_confirm'), turbo_method: :delete }, class: 'bg-red-600 text-white rounded-admin-md py-1 px-3 shadow-admin-sm hover:bg-red-700' %>
  </td>
</tr>