<nav id="main-menu" class="flex flex-wrap items-center justify-between px-4 py-2" data-controller="navbar">
  <%= link_to root_path, class: 'inline-block mr-4' do %>
    <%= image_tag current_site.logo_url, class: 'min-h-full' %>
  <% end %>
  <button class="px-3 py-1 border border-gray-300 rounded lg:hidden" type="button" data-action="navbar#toggle"><i class="fa fa-bars text-lg" aria-hidden="true"></i></button>
  <div data-navbar-target="collapse" class="hidden grow basis-full lg:block lg:flex lg:basis-auto lg:items-center">
    <ul class="flex flex-col lg:flex-row">
      <% unless cfp_only? %>
        <%= render NavItemComponent.new(name: t('.home'), path: root_path) %>
        <%= render NavItemComponent.new(name: t('.news'), path: news_index_path) %>
        <%= render NavItemComponent.new(name: t('.speakers'), path: speakers_path) %>
        <%= render NavItemComponent.new(name: t('.cfp'), path: agenda_path) if current_site.cfp_on_agenda_mode? %>
        <%= render NavItemComponent.new(name: t('.agenda'), path: agenda_path) unless current_site.cfp_on_agenda_mode? %>
        <%= render NavItemComponent.new(name: t('.sponsors'), path: sponsors_path) %>
        <%= render NavItemComponent.new(name: t('.indie_spaces'), path: indie_spaces_path) unless current_site.indie_space_disabled? %>
        <%= render NavItemComponent.new(name: t('.night_market'), path: night_market_index_path) if current_site.night_market_enabled? %>
      <% end %>
      <%= render NavItemComponent.new(name: t('.code_of_conduct'), path: code_of_conduct_path) %>
    </ul>
    <ul class="flex flex-col ml-auto lg:flex-row space-x-2">
      <%= render LanguageSwitchButtonComponent.new(current_locale: current_locale) %>
      <% if current_site.streaming_enabled? %>
        <% if current_site.streaming_track_1_url.present? %>
          <%= render NavItemComponent.new(name: t('.watch_now'), path: current_site.streaming_track_1_url, target: '_blank', button: true) %>
        <% end %>
        <% if current_site.streaming_track_3_url.present? %>
          <%= render NavItemComponent.new(name: t('.pre_register'), path: current_site.streaming_track_3_url, target: '_blank', button: true) %>
        <% end %>
      <% else %>
        <% if current_site.ticket_buy_link.present? %>
          <%= render NavItemComponent.new(name: t('.buy_ticket'), path: current_site.ticket_buy_link, target: '_blank', button: true) %>
        <% end %>
      <% end %>
      <% if current_site.survey_enabled_at.present? && current_site.survey_enabled_at <= Time.zone.now.beginning_of_day %>
        <%= render NavItemComponent.new(name: t('.survey'), path: current_site.survey_url, target: '_blank', button: true) %>
      <% end %>
    </ul>
  </div>
</nav>
