<%= admin_page_header t('.plans'), t('.manage_plans') %>
<div class="container-fluid">
  <div class="fade-in">
    <div class="row">
      <div class="col-md-12">
        <%= admin_box do %>
          <%= admin_box_header title t('.plans') %>
          <%= admin_box_body do %>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="table__id-column">#</th>
                  <th><%= t('.name') %></th>
                  <th><%= t('.actions') %></th>
                </tr>
              </thead>
              <tbody>
                <%= render @plans %>
              </tbody>
            </table>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
