<tr>
  <td><%= menu_item.id %></td>
  <td><%= menu_item.name %></td>
  <td><%= menu_item.link %></td>
  <td><%= menu_item.visible? %></td>
  <td>
    <div class="d-flex align-items-start">
      <%= link_to t('.edit'), edit_admin_menu_item_path(menu_item), class: 'btn btn-primary' %>
      <%= button_to t('.destroy'), admin_menu_item_path(menu_item), class: 'btn btn-danger', method: :delete, data: { confirm: t('shared.destroy_confirm') } %>
    </div>
</tr>
