<%= admin_page_header t('.menus'), t('.manage_menus') %>
<div class="container-fluid">
  <div class="fade-in">
    <div class="row">
      <div class="col-md-12">
        <%= admin_box do %>
          <%= admin_box_header title t('.menus') %>
          <%= admin_box_body do %>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="table__id-column">#</th>
                  <th><%= t('.name') %></th>
                  <th><%= t('.link') %></th>
                  <th><%= t('.visible') %></th>
                  <th><%= t('.actions') %></th>
                </tr>
              </thead>
              <tbody>
                <%= render @menu_items %>
              </tbody>
            </table>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
