<tr>
  <td><%= game.id %></td>
  <td><%= link_to game.name, edit_admin_night_market_game_path(game) %></td>
  <td><%= game.team %></td>
  <td><%= game.order %></td>
  <td>
    <div class="d-flex align-items-start">
      <%= button_to t('.destroy'), admin_night_market_game_path(game), class: 'btn btn-danger', method: :delete, data: { confirm: t('shared.destroy_confirm') } %>
    </div>
</tr>
