<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
    <%= display_meta_tags site: t('site_name') %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://use.fontawesome.com/b2e3e84e95.css', media: 'all' %>
    <%= stylesheet_link_tag 'admin', 'data-turbolinks-track': 'reload', media: 'all' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>


  </head>
  <body class="c-app">
    <%= render 'admin/shared/sidebar' %>
    <div class="c-wrapper">
    <%= render 'admin/shared/header' %>
      <div class="c-body">
        <main class="c-main">
          <div class="container-fluid">
          <% flash.each do |type, msg| %>
            <div class="alert alert-warning" role="alert">
              <%= msg %>
            </div>
          <% end %>
          </div>
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
