<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
    <%= display_meta_tags site: t('site_name') %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://use.fontawesome.com/b2e3e84e95.css', media: 'all' %>
    <%= stylesheet_link_tag 'theme', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbo-track': 'reload', defer: true %>
  </head>
  <body class="min-h-screen bg-gray-50 font-sans text-gray-900 antialiased">
    <!-- Sidebar -->
    <aside class="w-64 min-w-64 bg-white border-r border-gray-200 flex flex-col shrink-0 h-screen fixed left-0 top-0 z-10">
      <%= render 'admin/shared/sidebar' %>
    </aside>

    <!-- Main content -->
    <div class="flex-1 flex flex-col ml-64">
      <!-- Header -->
      <%= render 'admin/shared/header' %>

      <!-- Flash Messages -->
      <% flash.each do |type, msg| %>
        <%
          case type.to_s
          when 'alert'
            bg_class = 'bg-red-50'
            border_class = 'border-red-500'
            text_class = 'text-red-800'
            icon_class = 'text-red-500'
            icon = 'fa-times-circle'
            aria_live = 'assertive'
          when 'notice'
            bg_class = 'bg-green-50'
            border_class = 'border-green-500'
            text_class = 'text-green-800'
            icon_class = 'text-green-500'
            icon = 'fa-check-circle'
            aria_live = 'polite'
          when 'warning'
            bg_class = 'bg-yellow-50'
            border_class = 'border-yellow-500'
            text_class = 'text-yellow-800'
            icon_class = 'text-yellow-500'
            icon = 'fa-exclamation-triangle'
            aria_live = 'polite'
          else
            bg_class = 'bg-blue-50'
            border_class = 'border-blue-500'
            text_class = 'text-blue-800'
            icon_class = 'text-blue-500'
            icon = 'fa-info-circle'
            aria_live = 'polite'
          end
        %>
        <div class="transition-all duration-300 ease-in-out opacity-100 translate-y-0"
             role="alert"
             aria-live="<%= aria_live %>"
             data-controller="flash-message"
             data-auto-dismiss="<%= type.to_s == 'notice' %>">
          <div class="w-full <%= bg_class %> <%= border_class %> border-l-4 p-4 flex items-center justify-between">
            <div class="flex items-center space-x-3">
              <i class="fa <%= icon %> w-5 h-5 <%= icon_class %>"></i>
              <span class="<%= text_class %> font-medium"><%= msg %></span>
            </div>
            <button class="text-gray-400 hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 rounded-md"
                    aria-label="Dismiss message"
                    data-action="click->flash-message#dismiss">
              <i class="fa fa-times w-5 h-5"></i>
            </button>
          </div>
        </div>
      <% end %>

      <!-- Page content -->
      <main class="flex-1 p-6 overflow-auto overscroll-contain">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
