<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
    <%= display_meta_tags site: t('site_name') %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'https://use.fontawesome.com/b2e3e84e95.css', media: 'all' %>
    <%= stylesheet_link_tag 'theme', media: 'all', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbo-track': 'reload', defer: true %>
  </head>
  <body class="min-h-screen bg-gray-50 font-sans text-gray-900 antialiased">
    <!-- Sidebar -->
    <aside class="w-64 min-w-64 bg-white border-r border-gray-200 flex flex-col shrink-0 h-screen fixed left-0 top-0 z-10">
      <%= render 'admin/shared/sidebar' %>
    </aside>

    <!-- Main content -->
    <div class="flex flex-col ml-64 h-screen">
      <!-- Header -->
      <%= render 'admin/shared/header' %>

      <!-- Flash Messages -->
      <%= render 'admin/shared/flash_messages' %>

      <!-- Page content -->
      <main class="flex-1 p-6 overflow-auto overscroll-contain">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
