<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <%= alternate_langs %>
    <%= csrf_meta_tags %>
    <%= seo_tags(current_site) %>
    <%= stylesheet_link_tag    'https://use.fontawesome.com/b2e3e84e95.css', media: 'all' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,900&amp;subset=chinese-traditional' %>
    <%= stylesheet_link_tag    'theme', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
  </head>
  <body>
    <header class="sticky top-0 bg-white z-50">
      <%= render NavigationComponent.new(current_site: current_site, current_locale: current_locale) do |c| %>
        <% c.with_primary_items(primary_menu_items) %>
        <% c.with_secondary_items(secondary_menu_items) %>
      <% end %>
    </header>
    <main>
      <%= render BreadcrumbComponent.new(breadcrumbs: breadcrumbs) %>
      <%= yield %>
    </main>
    <%= render 'shared/footer' %>
    <%= render 'shared/google_analytics' if current_site.google_analytics_id.present? %>
  </body>
</html>
